
#searchbox {
	position: absolute;
	width: 100%;
	background-color: gray;
	top: 2px;
	left: 2px;
	right: 2px;
	height: 108px;		
	border: 2px solid black;
}

html {
	border: 3px solid black;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px; 
}

#heading {
	text-align: center;
	margin-top: 0px;
	font-size: 25px;
}

h1 {
	text-align: center;
}

#boxchicken {
	width: 30%;
	position: absolute;
	border: 2px solid black;
	background-color: #fccdb7;
	top: 0px;
	right: 0px;
	text-align: center;
}

#boxbeef {
	position: absolute;
	border: 2px solid black;
	background-color: #da4040;
	top: 0px;
	right: 0px;
	text-align: center;
	width: 30%;

}

#boxsushi {
	width: 30%;
	position: absolute;
	border: 2px solid black;
	background-color: #eed879;
	top: 0px;
	right: 0px;
	text-align: center;
}

#bottombox {
		position: relative;
		width: 100%;
		right: -50px;
		left: -9px;
		bottom: -10px;
		background-color: grey;
		height: 10px;
		border: 2px solid black;
	}

@media (min-width: 992px) {


	#chicken, #beef, #sushi{
		position: relative;
		width: 25%;
		background-color: grey;
		float: left;
		border: 3px solid black;
		margin-top: 20px;
		margin-left: 50px;
	}

	

	#boxchicken {
		width: 30%;
		position: absolute;
		border: 2px solid black;
		background-color: #fccdb7;
		top: 0px;
		right: 0px;
		text-align: center;
	}

	#boxbeef {
		position: absolute;
		border: 2px solid black;
		background-color: #da4040;
		top: 0px;
		right: 0px;
		text-align: center;
		width: 30%;

	}

	#boxsushi {
		width: 30%;
		position: absolute;
		border: 2px solid black;
		background-color: #eed879;
		top: 0px;
		right: 0px;
		text-align: center;
	}

	#input1 {
		width: 68%;
		margin-right: 1%;
	}
}


@media (min-width: 768px) and (max-width: 991px) {



	#input1 {
		width: 50%;
		margin-left: 5%;
	}

	h1 {
		text-align: center;
	}

	#chicken {
		position: relative;
		width: 35%;
		background-color: grey;
		float: left;
		border: 3px solid black;
		margin-top: 0px;
		margin-left: 100px;
		margin-bottom: 50px;
	}

	#beef {
		position: relative;
		width: 35%;
		background-color: grey;
		float: left;
		border: 3px solid black;
		margin-top: 0px;
		margin-left: 50px;
		margin-bottom: 50px;
	}

	#sushi {
		position: relative;
		width: 76%;
		background-color: grey;
		top: 150px;
		border: 3px solid black;
		margin-top: 20px;
		margin-left: 100px;
	}

	
}

@media (max-width: 767px) {

	#chicken, #beef, #sushi {
		position: relative;
		width: 75%;
		background-color: grey;
		
		border: 3px solid black;
		margin-top: 20px;
		margin-left: 80px;
	}
	#input1 {
		width: 35%;
		
	}
}